@import "../screens";

$mobileSize: 14rem;
$avatarSize: 18rem;

.avatarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  img {
    width: 100%;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: $avatarSize / 8.5;
    text-align: center;
    @include short {
      font-size: 2.3vh;
    }
  }
}

.round div {
  width: $avatarSize;
  height: $avatarSize;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  border-radius: 50%;

  margin-bottom: 1rem;
}

.rect div {
  width: $avatarSize;
  border-radius: 0;

  margin-bottom: 1.5rem;
}

@include mobile {
  p {
    font-size: $mobileSize / 8.5;
  }
  .round div {
    width: $mobileSize;
    height: $mobileSize;
  }
  .rect div {
    width: $mobileSize;
  }
}

@include short {
  .round div {
    width: 20vh;
    height: 20vh;
  }
  .rect div {
    height: 20vh;
  }
}

.avatarSelectable {
  border-radius: 0.5rem;
  overflow: hidden;
  img {
    transition: all 150ms;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.3);
    }
  }
}
