.avatarContainer {
	display: flex;
	align-items: center;
	flex-direction: column;

	img {
		height: 20rem;
	}

	.round {
		width: 20rem;
		object-fit: cover;
		border-radius: 50%;

		margin-bottom: 1rem;
	}

	.rect {
		border-radius: 0;

		margin-bottom: 1.5rem;
	}

	p {
		font-size: 2.5rem;
		text-align: center;
	}
}

.avatarSelectable {
	padding: 1rem;
	border-radius: 0.5rem;
	transition: box-shadow 150ms;
	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	}
}
