.avatarContainer {
	display: flex;
	align-items: center;
	flex-direction: column;

	img {
		// height: 100%;
		width: 100%;
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.round {
		width: 20rem;
		height: 20rem;
		overflow: hidden;
	}

	.round {
		img {
			width: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
		border-radius: 50%;

		margin-bottom: 1rem;
	}

	.rect {
		width: 20rem;
		border-radius: 0;

		margin-bottom: 1.5rem;
	}

	p {
		font-size: 2.5rem;
		text-align: center;
	}
}

.avatarSelectable {
	padding: 1rem;
	border-radius: 0.5rem;
	overflow: hidden;
	img {
		transition: all 150ms;
	}
	&:hover {
		cursor: pointer;
		img {
			transform: scale(1.3);
		}
	}
}
