@import "../colors";

.buttonOutlined {
	border: solid white 0.2rem;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 1.5rem;
	transition: background-color 300ms;

	&:hover {
		background-color: white;
		color: $red;
	}
}

.navigateButton {
	font-size: 3rem;
	position: relative;
	&::after {
		content: " ";
		position: absolute;
		left: 0;
		bottom: 0;

		height: 2rem;
		width: 100%;

		border-bottom: solid white 0.3rem;

		transition: transform 150ms ease;
		transform: scaleX(0);
		transform-origin: left;
	}
	&:hover::after {
		transform: scaleX(1);
	}
}

.navigateButtonSelected {
	&::after {
		transform: scaleX(1);
	}
}
