@import "../colors";

.buttonOutlined {
	border: solid white 0.2rem;
	font-size: 3rem;
	font-weight: 300;
	padding: 1rem 1.5rem;
	transition: background-color 300ms;

	&:hover {
		background-color: white;
		color: $red;
	}
}
