@import "../screens";

.heroContainer {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  .heroHeader {
    font-size: 20rem;
  }

  .heroTopHeader {
    font-size: 3rem;
  }

  @include mobile {
    .heroHeader {
      font-size: 8.5rem;
    }
    .heroTopHeader {
      font-size: 2.5rem;
    }
  }
}
